body {
    text-align: center;
}
h2 {
    text-align: center;
}
.tournament {
    font-size: 200%;
    border-width: 2px;
    border-style: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}